*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 50px;
    background-color: var(--primary-color);
    color: var(--secundary-color);
}

section{
    width: 846px;
    height: 560px;
}

.top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* .box_perfil{
    border: 3px solid greenyellow;
} */

.box_perfil_top{
    display: flex;
    margin-bottom: 0.7em;
    box-shadow:  2px 2px 4px #888888;
}

.box_perfil_top:hover{
    cursor: pointer;
    box-shadow: 5px 5px 10px #888888;
}

.text_perfil{
    margin: 0px 20px 0px 10px;
}

.box_perfil_bottom{
    display: none;
    box-shadow: 5px 5px 10px #888888;
    border-radius: 1em;
    padding: 1em;
    height: 8em;
    width: 10em;
}

.img_profil{
    width: 5em;
    border-radius: 0.4em;
}

.small_img_profil{
    width: 2rem;
    border-radius: 0.2em;
}

.log_out{
    text-decoration: none;
    color: red;
}

.open_modal{
    display: flex;
    width: 8em;
    height: 2em;
    align-items: center;
    border: 1px solid white;
    border-radius: 0.5em;
    padding-left: 0.4em;
}

.open_modal:hover{
    background-color: #edecec;
    cursor: pointer;
    border-radius: 0.5em;
    border: 1px solid white;
}

.icon_margin{
    margin-right: 0.6em;
}

.logout_box{
    border-top: 1px solid gray;
    border-radius: 0px;
}

.text_perfil{
    font-weight: 900;
}

.boxes_info{
    border: 1px solid #E0E0E0;
    display: flex;
    height: 4.4em;
    display: flex;
    align-items: center;
    padding: 0px 3em 0px 3em;
    font-weight: 500;
}

.box_top{
    border: 1px solid #E0E0E0;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    display: flex;
    height: 6em;
    display: flex;
    align-items: center;
    padding: 0px 3em 0px 3em;
}

.box_bot{
    border: 1px solid #E0E0E0;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    display: flex;
    height: 4.4em;
    display: flex;
    align-items: center;
    padding: 0px 3em 0px 3em;
}

.edite_title{
    width: 10em;
    color: #BDBDBD;
    font-size: 0.8em;
}

.title_profile{
    display: flex;
    justify-content: space-between;
}

.edit_btn{
    text-decoration: none;
    box-shadow: 2px 2px 4px #888888;
    width: 5em;
    height: 2em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #888888;
    color: #828282;
}

.edit_btn:hover{
    box-shadow: 5px 5px 10px #888888;
    color: black;
}

.title_description{
    margin-bottom: 5em;
}

h1, p, h2, .edit_btn, .log_out{
    font-family: 'Noto Sans', sans-serif;
}

h1, h2{
    font-weight: 400;
}

.subtitle_description{
    font-size: 13px;
}

.log_out{
    text-decoration: none;
    color: red;
}